node_modules
/notes/dotnet/microservice/MicroserviceTemplate/appsettings.Production.json
/notes/dotnet/microservice/MicroserviceTemplate/appsettings.Testing.json
/notes/dotnet/microservice/MicroserviceTemplate/appsettings.Development.json
/notes/dotnet/microservice/MicroserviceTemplate/appsettings.Demo.json